.vocabulary__list {
    max-width: 960px;
    margin: auto;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.item__progress {
    color: black;
    font-size: 15pt;
    font-weight: 800;
}