.addWord__wrap {
    max-width: 960px;
    margin: auto;
}
.addWord {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.form__add {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.form__add input {
    padding: 5px;
}

.form__add .word__input {
    margin-left: 20px;
}

.form__add .word__submit {
    display: none;
}

.row__input {
    overflow: hidden;
}

.inputs-enter {
    height: 0;
}

.inputs-exit {
    height: 30px;
}

.inputs-enter-active {
    height: 30px;
    transition: height 300ms;    
}

.inputs-exit-active {
    height: 0;
    transition: height 300ms;
}